<form action="/create_like_from_post" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @like.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="post_id" value="<%= @post.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
