<h1>
  Edit post #<%= @post.id %>
</h1>

<hr>

<form action="/update_post/<%= @post.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@post.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @post.caption %></textarea>
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update post
  </button>
</form>

<hr>

<a href="/posts">
  Go back
</a>
