<% if @following.present? %>
  <% if @following.errors.any? %>
    <% @following.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new following
</h1>


<hr>

<form action="/create_following" method="post">

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <%= select_tag(:recipient_id, options_from_collection_for_select(User.all, :id, :email, @following.recipient_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <%= select_tag(:sender_id, options_from_collection_for_select(User.all, :id, :email, @following.sender_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create following
  </button>
</form>

<hr>

<a href="/followings">
  Go back
</a>
